<html><body><main>
<div>
  <ul>
    <li><a href="/psoriasis-treatment-doctor/psoriasis-diagnosis">Psoriasis Diagnosis</a></li>
    <li><a href="/psoriasis-treatment-doctor/psoriasis-treatment-options">Psoriasis Treatments</a></li>
    <li><a href="/psoriasis-treatment-doctor/talk-to-doctor-treatment-goals">Creating Treatment Goals</a></li>
    <li><a href="/psoriasis-treatment-doctor/find-a-psoriasis-specialist">Importance of a Dermatologist</a></li>
  </ul>
</div>
<div>
  <ul>
    <li><a href="/psoriasis-treatment-doctor/questions-to-ask-your-doctor">Prep for Your Appointment</a></li>
    <li><a href="/psoriasis-treatment-doctor/dermatologist-visit">What to Expect From Your Dermatologist</a></li>
    <li><a href="/psoriasis-treatment-doctor/find-a-dermatologist">Dermatologist Locator</a></li>
  </ul>
</div>
</main></body></html>
