<html><body><main>
<div>
  <h5>Learning About Psoriasis</h5>
  <ul>
    <li><a href="/about-psoriasis/what-is-psoriasis">What Is Psoriasis?</a></li>
    <li><a href="/about-psoriasis/psoriasis-types">Types of Psoriasis</a></li>
    <li><a href="/about-psoriasis/psoriasis-symptoms">Psoriasis Symptoms</a></li>
    <li><a href="/about-psoriasis/psoriasis-joint-pain">Psoriasis and Joint Pain</a></li>
    <li><a href="/about-psoriasis/symptoms-quiz">Psoriasis Symptom Quiz</a></li>
    <li><a href="/about-psoriasis/psoriasis-causes">What Causes Psoriasis?</a></li>
    <li><a href="/about-psoriasis/psoriasis-inflammation">Inflammation and Psoriasis</a></li>
    <li><a href="/about-psoriasis/psoriasis-severity">Psoriasis Severity and Location</a></li>
    <li><a href="/about-psoriasis/psoriasis-pictures">Psoriasis Pictures</a></li>
  </ul>
  <h5>Treatments &amp; Doctors</h5>
  <ul>
    <li><a href="/psoriasis-treatment-doctor/psoriasis-diagnosis">Psoriasis Diagnosis</a></li>
    <li><a href="/psoriasis-treatment-doctor/psoriasis-treatment-options">Psoriasis Treatments</a></li>
    <li><a href="/psoriasis-treatment-doctor/talk-to-doctor-treatment-goals">Creating Treatment Goals</a></li>
    <li><a href="/psoriasis-treatment-doctor/find-a-psoriasis-specialist">Importance of a Dermatologist</a></li>
    <li><a href="/psoriasis-treatment-doctor/questions-to-ask-your-doctor">Prep for Your Appointment</a></li>
    <li><a href="/psoriasis-treatment-doctor/dermatologist-visit">What to Expect From Your Dermatologist</a></li>
    <li><a href="/psoriasis-treatment-doctor/find-a-dermatologist">Dermatologist Locator</a></li>
  </ul>
  <h5>Living With Psoriasis</h5>
  <ul>
    <li><a href="/living-with-psoriasis/psoriasis-diet-exercise">Diet and Exercise</a></li>
    <li><a href="/living-with-psoriasis/psoriasis-and-stress">Psoriasis and Stress</a></li>
    <li><a href="/living-with-psoriasis/psoriasis-myths">Myths and Misconceptions</a></li>
    <li><a href="/living-with-psoriasis/psoriasis-kit">Beneath the Surface Kit</a></li>
  </ul>
  <h5>Community &amp; Resources</h5>
  <ul>
    <li><a href="/psoriasis-patients/psoriasis-community">Follow Us</a></li>
    <li><a href="/psoriasis-patients/psoriasis-patient-stories">Patient Stories</a></li>
    <li><a href="/psoriasis-patients/psoriasis-support">Talking With Family and Friends</a></li>
    <li><a href="/psoriasis-patients/tips">Psoriasis Spotlight: Tips and Info</a></li>
  </ul>
</div>
<div>
  <ul>
    <li><a href="/sitemap">Sitemap</a></li>
    <li><a href="https://www.abbvie.com/accessibility-statement.html">Accessibility Statement</a></li>
    <li><a href="https://www.abbvie.com/contactus.html">Contact Us</a></li>
    <li><a href="https://www.abbvie.com/termsofuse.html">Terms of Use</a></li>
    <li><a href="https://privacy.abbvie/privacy-policies/us-privacy-policy.html">Privacy Notice</a></li>
    <li><a href="https://abbv.ie/PrivacyConsumerHealth">Consumer Health Data Privacy Notice</a></li>
    <li><a href="https://abbviemetadata.my.site.com/AbbvieDSRM">Your Privacy Choices</a></li>
  </ul>
  <p><a href="https://www.abbvie.com">AbbVie.com</a></p>
</div>
<div>
  <p>If you have any questions about this AbbVie Inc. website that have not been answered, contact us. The content on this site has been created solely for US residents. It is intended for informational purposes only, and should not be used to replace a discussion with a healthcare professional. All decisions regarding patient care must be handled by a healthcare professional, and be made based on the unique needs of each patient.</p>
  <p>Copyright &copy; 2024 AbbVie. All rights reserved.</p>
  <p>psoriasisSPEAKS and its design are registered trademarks of AbbVie Biotechnology Ltd.</p>
  <p>US-IMMD-240037</p>
</div>
</main></body></html>
