<html><body><main>
<div>
  <h5>Site Pages</h5>
  <ul>
    <li><a href="/nutrition-products">Products</a></li>
    <li><a href="/recipes">Recipes</a></li>
    <li><a href="/health-articles-tips">Health Articles</a></li>
    <li><a href="/coupons">Coupons</a></li>
    <li><a href="/where-to-buy-ensure">Where to Buy</a></li>
    <li><a href="/contact">Contact Us</a></li>
  </ul>
  <h5>Abbott</h5>
  <ul>
    <li><a href="https://www.abbott.com/">Abbott.com</a></li>
    <li><a href="https://www.abbott.com/corpnewsroom/nutrition.html">Abbott Nutrition</a></li>
    <li><a href="https://www.abbott.com/careers.html">Careers</a></li>
  </ul>
  <h5>Abbott Brands</h5>
  <ul>
    <li><a href="https://www.glucerna.com/">Glucerna</a></li>
    <li><a href="https://pediasure.com/">PediaSure</a></li>
    <li><a href="https://www.similac.com/">Similac</a></li>
  </ul>
</div>
<div>
  <ul>
    <li><a href="/unsubscribe">Unsubscribe</a></li>
    <li><a href="https://www.abbott.com/privacy-policy.html">Privacy Policy</a></li>
    <li><a href="https://www.abbott.com/online-terms-and-conditions.html">Terms of Use</a></li>
    <li><a href="https://www.abbott.com/privacy-policy.html#ccpa">Your Privacy Choices</a></li>
  </ul>
  <p><a href="https://www.abbott.com">Abbott.com</a></p>
</div>
<div>
  <p>&copy; 2026 Abbott. All rights reserved.</p>
</div>
</main></body></html>
