<html><body><main>
<div>
  <p><a href="/"><img src="/img/icons/psoriasis-logo.svg" alt="psoriasisSPEAKS">psoriasisSPEAKS</a></p>
  <p><a href="/tools/widgets/toggle"><span class="icon icon-more"></span>Menu</a></p>
</div>
<div>
  <ul>
    <li>
      <p><a href="/about-psoriasis/what-is-psoriasis">Learning About Psoriasis</a></p>
      <p><a href="/fragments/nav/header/about-psoriasis">Learning About Psoriasis</a></p>
    </li>
    <li>
      <p><a href="/psoriasis-treatment-doctor/psoriasis-diagnosis">Treatments &amp; Doctors</a></p>
      <p><a href="/fragments/nav/header/treatments">Treatments &amp; Doctors</a></p>
    </li>
    <li>
      <p><a href="/living-with-psoriasis/psoriasis-diet-exercise">Living With Psoriasis</a></p>
      <p><a href="/fragments/nav/header/living">Living With Psoriasis</a></p>
    </li>
    <li>
      <p><a href="/psoriasis-patients/psoriasis-community">Community &amp; Resources</a></p>
      <p><a href="/fragments/nav/header/community">Community &amp; Resources</a></p>
    </li>
  </ul>
</div>
<div>
  <p><a href="/tools/widgets/scheme"><span class="icon icon-toggle"></span>Theme</a></p>
</div>
</main></body></html>
