<html><body><main>
<div>
  <p><a href="/home"><img src="/icons/ensure-logo.svg" alt="Ensure">Ensure</a></p>
  <p><a href="/tools/widgets/toggle"><span class="icon icon-more"></span>Menu</a></p>
</div>
<div>
  <ul>
    <li><p><a href="/nutrition-products">Products</a></p></li>
    <li><p><a href="/coupons">Sign Up &amp; Save</a></p></li>
    <li><p><a href="/recipes">Recipes</a></p></li>
    <li><p><a href="/health-articles-tips">Health Articles</a></p></li>
  </ul>
</div>
<div>
  <p><a href="/where-to-buy-ensure">Buy Now</a></p>
</div>
</main></body></html>
